body{
	background: #eee;
	padding: 20px;
}

p.description-block {
	float: left;
	display: inline-block;
	width: 85%;
}

.btn-group {
	float: right;
}

.collapse:after {
	content: '';
	display: block;
	clear: both;
}

.collapse.in {
	display: block;
	margin-top: 40px;
}

h4 {
	margin-bottom: 40px;
}

button.btn.btn-primary.btn-block{
	margin-bottom: 20px;
}